html
    include head.pug
    head
        title Credenciales Web
    body
        nav(class="navbar navbar-expand-lg navbar-dark bg-primary")
        a(class="navbar-brand copitec" href="https://www.copitec.org.ar") Credenciales Web
        div(class="row justify-content-md-center tarjetas")
            div(class="col-md-auto")
        div(class="card text-white bg-danger mb-3 tarjetaDanger" style="max-width: 20rem;")
            div(class="card-body")
                h4(class="card-title") ERROR 404
                hr

                p(class="card-text") Matriculado no existente
                p(class="card-text") Reintente busqueda 