html
    include head.pug
    title Nuevo matriculado
    body
    nav(class="navbar navbar-expand-lg navbar-dark bg-primary")
    div(class="row justify-content-md-center tarjetas")
        each dato in datos
            div(class="col-md-auto")
            div(class="card text-white bg-success mb-3 tarjetaSuccess" style="max-width: 20rem;")
                form(action="/views/nuevo", method="post")
                    div(class="form-group")
                        input(type="text", name="nroMatricula" class="form-control" placeholder="nro de matricula" autofocus)
                    div(class="form-group")
                        input(type="text", name="nombre" class="form-control" placeholder="Nombre" autofocus)
                    div(class="form-group")
                        input(type="text", name="tituloo" class="form-control" placeholder="Titulo" autofocus)
                    div(class="form-group")
                        input(type="text", name="estado" class="form-control" placeholder="estado" autofocus)
                    div(class="form-group")
                        input(type="text", name="instituciono" class="form-control" placeholder="instituciono" autofocus)
                    div(class="form-group")
                        input(type="text", name="fechaAlta" class="form-control" placeholder="fechaAlta" autofocus)
                    div(class="form-group")
                        button(class="btn btn-outline-info" type="submit") Guardar 